.imageContainer {
  flex: 0 1 auto; /* Don't grow, can shrink, use auto basis */
  min-width: 300px;
  max-width: 581px; /* Match the image width */
}

.image {
  width: 100%; /* Make image take full width of container */
  max-width: 581px;
  height: auto;
  border-radius: 12px;
  color: #fd3abb;
  border: px solid #000;
  margin-top: -7px;
  box-shadow: 10px 10px;
}
