.imageContainer {
  flex: 0 1 auto; /* Don't grow, can shrink, use auto basis */
  min-width: 300px;
  max-width: 560px; /* Match the image width */
  width: 47%;
}

.image {
  width: 100%; /* Make image take full width of container */
  max-width: 581px;
  height: auto;
  border-radius: 12px;
}
.dropShadow {
  color: #fd3abb;
  border: 1px solid #000;
  margin-top: -7px;
  box-shadow: 10px 10px;
}

@media (max-width: 768px) {
  .imageContainer {
    width: 100%;
    order: 0;
    justify-content: center;
  }
  .image {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
  .image img {
    object-fit: cover;
  }
  .dropShadow {
    border: None;
    margin-top: 0px;
    box-shadow: 0px 10px;
  }
}
