/* By default, content is on the left, image on the right */
.content {
  flex: 0 1 auto; /* Don't grow, can shrink, use auto basis */
  min-width: 300px;
  justify-content: left;
  max-width: 560px;
  width: 47%;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    order: 1;
    padding: 40px 24px;
    box-sizing: border-box;
  }
}
