.curriculumSection {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 40px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.focusArea {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  align-items: start;
  font-family: Satoshi, sans-serif;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  justify-content: start;
  width: 478px;
}

.focusTitle {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.focusLabel {
  font-size: 16px;
}

.focusNumber {
  font-size: 96px;
  line-height: 0.9;
}

.focusImage {
  aspect-ratio: 0.94;
  object-fit: contain;
  object-position: center;
  width: 553px;
  border-radius: 0;
  max-width: 100%;
}

.sectionContent {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  width: 590px;
}

.learningSection {
  display: flex;
  max-width: 100%;
  width: 590px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.sectionTitle {
  color: #000;
  text-transform: uppercase;
  font: 900 16px Satoshi, sans-serif;
}

.sectionSubtitle {
  color: #323b4b;
  font-feature-settings: 'liga' off, 'clig' off;
  margin-top: 4px;
  font: 700 28px/1 Inter, sans-serif;
}

.detailsList {
  color: #8a94a6;
  font-feature-settings: 'liga' off, 'clig' off;
  margin-top: 16px;
  font: 400 20px/29px Manrope, -apple-system, Roboto, Helvetica, sans-serif;
  list-style-type: none;
  padding-left: 0;
}

.skillGroup {
  margin-bottom: 16px;
}

.skillTitle {
  color: #323b4b;
  font-feature-settings: 'liga' off, 'clig' off;
  font: 700 28px/1 Inter, sans-serif;
  margin-bottom: 16px;
}

.skillList {
  color: #8a94a6;
  font-feature-settings: 'liga' off, 'clig' off;
  font: 400 20px/29px Manrope, -apple-system, Roboto, Helvetica, sans-serif;
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 991px) {
  .focusArea,
  .sectionContent {
    max-width: 100%;
  }

  .focusNumber {
    font-size: 40px;
  }

  .sectionSubtitle,
  .detailsList,
  .skillList {
    max-width: 100%;
  }
}
