.navigation {
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #3b82f6;
  text-transform: uppercase;
  justify-content: center;
  padding: 40px 0;
  font: 900 16px Satoshi, sans-serif;
}

.navContent {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px 76px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 120px;
}

.navItem {
  align-self: stretch;
  margin: auto 0;
}

.logo {
  aspect-ratio: 1.84;
  object-fit: contain;
  object-position: center;
  width: 92px;
  align-self: stretch;
  margin: auto 0;
}

@media (max-width: 991px) {
  .navigation {
    max-width: 100%;
  }

  .navContent {
    max-width: 100%;
    padding: 0 20px;
  }
}
