.footer {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
  padding: 34px 80px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .footer {
    padding: 34px 0px;
    text-align: center;
  }
}
