.desktopNavigation {
  padding: 20px 80px;
  background-color: #0a0b0d;
  min-width: 320px;
  position: relative;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navContainer {
  height: 100px;
  display: flex;
  align-items: center;
  min-width: 320px;
  position: relative;
  justify-content: space-between;
  gap: 1.5rem;
}

.leftNav,
.rightNav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.rightNav {
  margin-left: 0px;
}

.logo {
  height: 40px;
  width: auto;
}

.logoContainer {
  z-index: 10;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navLink {
  display: inline-block;
  position: relative;
  transition: none;
}

.navLink:active {
  transform: none;
}

.mobileMenu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 0;
  background-color: #0a0b0d;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  transition: height 0.3s ease-in-out;
}
.closeMenu {
  padding: 14px 6px 28px 6px;
}

.horizontalLine {
  margin: 0 -20px;
  border-bottom: 1px solid #eeeeeebe;
}
.closeMenu img {
  width: 24px;
  height: 24px;
}

.menuOpen {
  display: flex;
  transition: height 0.3s ease-in-out;
}

/* Style for the donate button */
.button {
  text-transform: capitalize !important;
  color: #151515 !important;
}

.button:after {
  display: none !important;
}

.donate {
  background-color: #fd3abb !important;
  color: #151515 !important;
}

.donate:hover {
  background-color: #e535a7;
}

/* Hide underlines for logo and donate button */
.wrenchboltLogo:after,
.donateButton:after {
  display: none !important;
}

@media (max-width: 970px) {
  .desktopNavigation {
    padding: 20px 20px;
  }
  .leftNav {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .desktopNavigation {
    padding: 0px;
    border-bottom: none;
    border-top: none;
  }

  .desktopNav {
    display: none;
  }

  .navContainer {
    position: absolute;
  }

  .hamburger {
    display: flex;
    position: fixed;
    top: 32px;
    left: 24px;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #0a0b0d;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }

  .menuOpen {
    display: flex;
    height: auto;
  }

  .leftNav,
  .rightNav,
  .wrenchbolt {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
  }

  .closeMenu {
    color: #fff;
  }

  .buttonContainer {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
