.newsletterSection {
  background-color: #fff;
  padding: 80px;
  width: 100%;
  box-sizing: border-box;
}

.newsletterContainer {
  margin: 0 auto;
  padding: 80px;

  text-align: center;
}

.newsletterTitle {
  color: var(--Gary-900, #151515);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Headline 2 */
  font-family: 'Montagu Slab';
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 41.8px */
  letter-spacing: -0.76px;
  text-transform: uppercase;
}

.highlightText {
  font-family: 'Inter', sans-serif;
  color: #377dff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.newsletterDescription {
  color: var(--Gary-900, #151515);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Inter/Text Large 18/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.newsletterForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 635px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 40px;
}

.emailInputLabel {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #151515;
  margin-bottom: 8px;
  float: left;
}

.emailInput {
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  color: #57595b;
  border-radius: 12px;
  border: 1px solid #d0d0d0;
  background: var(--White, #fff);
  width: 145%;
  font-weight: 300;
  padding: 14px 24px 14px;
  line-height: 120%;
}

.emailInput::placeholder {
  color: #4e5d78;
}

@media (max-width: 768px) {
  .newsletterSection {
    padding: 40px 24px;
    box-sizing: border-box;
  }

  .newsletterContainer {
    padding: 40px 24px;
    box-sizing: border-box;
  }

  .newsletterForm {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }

  .emailInput {
    margin-bottom: 16px;
    width: 100%;
    padding: 12px 22px;
    border-radius: 40px;
    box-sizing: border-box;
  }
}
