.card {
  width: 411px;
  border-top: 0.5px solid #8c8c8c;
}

.cardHeader h3 {
  font-family: 'Inter';
  color: var(--Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Title */

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.cardContent {
  color: var(--Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.1px;
  margin: 1.75rem 0;
}

.button {
  display: flex;

  padding: 12px 24px;
  align-items: center;
  gap: 10px;
  color: var(--Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Caption */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 40px;
  border: 1px solid #000;
}

.button a {
  text-decoration: none;
}
