.featureSection {
  background-color: #fff;
  padding: 54px 80px 0px 80px;
  width: 100%;
  box-sizing: border-box;
}

.featureSectionTitle {
  color: #141125;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
  line-height: 125%;
  letter-spacing: 0.25px;
  font-feature-settings: 'liga' off, 'clig' off;
}

.featureCardContainer {
  display: flex;
  justify-content: space-around;
}

.featureCard,
.featureCardPrimary {
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 20px 94px 90px 0px rgba(2, 12, 66, 0.08);
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 346px;
}

.featureCardPrimary {
  background-color: #377dff;
  color: #fff;
}

.featureContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  border-radius: 40px;
  background-color: #fef2e0;
  width: 64px;
  height: 64px;
}

.featureCardPrimary .featureIcon {
  background-color: rgba(250, 251, 252, 0.2);
}

.featureTitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 22px;
}

.buttonSecondary,
.buttonPrimary {
  border-radius: 12px;
  background-color: #f3f3f3;
  color: #323b4b;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 24px;
  margin-top: 25px;
  border: none;
  cursor: pointer;
}

.buttonPrimary {
  background-color: #fff;
}

@media (max-width: 991px) {
  .featureSection {
    padding: 40px 20px;
  }
}
