.desktopNavigation {
  width: 100%;
  padding: 1rem 0;
  background-color: white;
  min-width: 320px;
  overflow: hidden;
  position: relative;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-width: 320px;
  position: relative;
  height: 60px;
}

.leftNav,
.rightNav {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1.5rem;
  justify-content: space-around;
}

.leftNav {
  margin-right: 1rem;
}

.rightNav {
  margin-left: 1rem;
}

.logo {
  height: 40px;
  width: auto;
}

.logoContainer {
  z-index: 10;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #3b82f6;
  border-radius: 3px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navLink {
  display: inline-block;
  position: relative;
  transition: none;
}

.navLink:active {
  transform: none;
}

.mobileMenu {
  display: none;
  position: fixed;
  width: 33%;
  top: 60px;
  height: 0;
  right: 0;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  border-top: 1px solid #eee;
  transition: height 0.3s ease-in-out;
}

.mobileMenu a {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
}

.menuOpen {
  display: flex;
  transition: height 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navContainer {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }

  .menuOpen {
    display: flex;
    height: auto;
  }

  .leftNav,
  .rightNav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
  }
}
