.desktopNavigation {
  padding: 20px 80px;
  background-color: #0a0b0d;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
}

.navContainer {
  height: 100px;
  display: flex;
  align-items: center;
  min-width: 320px;
  position: relative;
  justify-content: space-between;
  gap: 1.5rem;
}

.leftNav,
.rightNav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.rightNav {
  margin-left: 0px;
}

.logo {
  height: 40px;
  width: auto;
}

.logoContainer {
  z-index: 10;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #3b82f6;
  border-radius: 3px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navLink {
  display: inline-block;
  position: relative;
  transition: none;
}

.navLink:active {
  transform: none;
}

.mobileMenu {
  display: none;
  position: fixed;
  width: 33%;
  top: 60px;
  height: 0;
  right: 0;
  background-color: #0a0b0d;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  border-top: 1px solid #eee;
  transition: height 0.3s ease-in-out;
}

.mobileMenu a {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
}

.menuOpen {
  display: flex;
  transition: height 0.3s ease-in-out;
}

/* Style for the donate button */
.donateButton {
  background-color: #fd3abb;
  color: #151515 !important;
  padding: 15px 24px !important;
  border-radius: 40px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.donateButton:hover {
  background-color: #e535a7;
}

/* Hide underlines for logo and donate button */
.wrenchboltLogo:after,
.donateButton:after {
  display: none !important;
}

@media (max-width: 768px) {
  .navContainer {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #0a0b0d;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }

  .menuOpen {
    display: flex;
    height: auto;
  }

  .leftNav,
  .rightNav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
  }
}
