.desktopNavigation {
  width: 100%;
  padding: 40px 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  gap: 40px 76px;
  flex-wrap: wrap;
}

.navItem {
  color: #3b82f6;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
}

.logo {
  width: 92px;
  object-fit: contain;
}

@media (max-width: 991px) {
  .navContainer {
    padding: 0 20px;
  }
}
