.navLink {
  color: #3b82f6;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Satoshi', sans-serif;
  text-align: center;
}
