.accordionBlock {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
}

.horizontalRule {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.accordionContainer {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
