.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: #f6f6f6;
}

.cardContainerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
.description {
  color: var(--Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Title */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.description {
  width: 75%;
  margin-top: 24px;
  margin-bottom: 80px;
}
