/* Style for the donate button */
.button {
  font-family: 'Inter', sans-serif !important;
  padding: 10px 24px !important;
  border-radius: 40px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  text-align: center !important;
  width: auto;
  display: inline-block;
  align-items: center;
  gap: 10px;
  background: var(--White, #fff);
  color: #151515;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Caption */
  font-size: 14px;
  font-style: normal;
  line-height: 120%; /* 16.8px */
  text-decoration: none;
  align-self: flex-end;
  border: 1px solid #000 !important;
  background-color: var(--theme-color) !important;
  cursor: pointer;
}

.button:hover {
  color: var(--theme-color) !important;
  background-color: #151515 !important;
  border: 2px solid var(--theme-color) !important;
  font-weight: 700 !important;
  padding: 10px 23px !important;
}

.white {
  background-color: #fff !important;
  color: #151515 !important;
}

.white:hover {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

.black {
  background-color: #000 !important;
  color: #fff !important;
}

.black:hover {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}
